@model IEnumerable<Medex.Models.WorkHour>
@{
    ViewData["Title"] = "ViewRegister";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 text-center  text-success m-3 p-3">
                <h1><i class="fa fa-user-md"></i></h1>
                <h1>Doctors Dashboard</h1>
                <p> Sign-In/Register to login using your email address as ID and your Password set during registration. It will open your selected doctor’s calendar</p>
            </div>
        </div>
    </div>


    <hr />

    <div class="container-fluid m text-center" id="contactus">
        <div class="row">
            @if (Model != null && Model.Count() > 0)
            {

                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12">
                    <h2>
                        Doctors
                    </h2>
                    <p>The work hour table-striped</p>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="color">
                                <tr>
                                    <th>S/No</th>
                                    <th>Fullname</th>
                                    <th>Days of Weeks</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Active Hour</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var doctorsworkHour in Model)
                                {
                                    var fulName = doctorsworkHour.Doctor.FirstName + " " + doctorsworkHour.Doctor.LastName;
                                    <tr>
                                        <td></td>
                                        <td>@fulName</td>
                                        <td>@doctorsworkHour.WeekDays</td>
                                        @if (doctorsworkHour.StartTime.Hours > 12)
                                        {
                                            <td>@doctorsworkHour.StartTime PM</td>
                                        }
                                        else
                                        {
                                            <td>@doctorsworkHour.StartTime AM</td>
                                        }
                                        @if (doctorsworkHour.EndTime.Hours > 12)
                                        {
                                            <td>@doctorsworkHour.EndTime PM</td>
                                        }
                                        else
                                        {
                                            <td>@doctorsworkHour.EndTime AM</td>
                                        }


                                        <td>@doctorsworkHour.ActiveHours</td>
                                        <td>

                                            <a asp-controller="Doctor" asp-route-id="@doctorsworkHour.Id" asp-action="Edit" class=" btn btn text-dark"><i class="fa fa-pencil-square"></i></a>
                                            
                                            <input value="@doctorsworkHour.Id" id="doctorsworkHourid" hidden />
                                            <a class="btn text-danger" data-toggle="modal" data-target="#ModalPopUp" onclick="deleteUser('@doctorsworkHour.Id')" name="btnLink" id="btnLink"> <i class="fa fa-trash iconSizeColor"></i></a>
                                            @*<a asp-controller="Doctor" asp-route-id="@doctorsworkHour.Id" asp-action="Delete" class=" btn btn text-danger" data-toggle="modal" data-target="#myDelete"><i class="fa fa-trash"></i></a>*@

                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
            }
        </div>


    </div>
    <div class="modal fade" id="ModalPopUp" role="dialog">
        <div class="modal-dialog err-pop " style="">
            <div class="modal-content bg-light">

                <div class="modal-header bg-light text-danger text-center">
                    <h4>Delete Warning!</h4>
                    <button id="DivClose" type="button" class="close bg-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <p>Are you sure you want to delete the Work Hour set-up?</p>
                </div>
                <a id="link" href="" onclick="deleteUser()" class="badge-pill w-20 bg-danger text-light text-center ">

                    Yes
                </a>
                <a id="link" href="" onclick="#" class="badge-pill w-20  bg-dark text-light text-center">

                No

                </a>
            </div>
        </div>
    </div>

</body>


<style>

    body {
        counter-reset: Serial; /* / Set the Serial counter to 0 /*/
    }

    tr td:first-child:before {
        counter-increment: Serial; /* / Increment the Serial counter /*/
        content: counter(Serial); /*  / Display the counter /*/
    }
</style>
<!-- The Modal -->
<!--<div class="modal" id="myDelete">
    <div class="modal-dialog">
        <div class="modal-content">-->
<!-- Modal Header -->
<!--<div class="modal-header">
    <h4 class="modal-title">Delete Category</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>-->
<!-- Modal body -->
<!--<div class="modal-body">
    <p>Are you sure you want to delete this category data</p>
    <input type="button" name="name" value="" id="TG" hidden />
    <div class="btn-group">
        <button>Yes</button>
        <button>No</button>
    </div>
</div>-->
<!-- Modal footer -->
<!--<div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>-->
